---

- name: run letsencrypt.sh
  command: letsencrypt.sh -c

- name: enable jenkins
  service:
    name: jenkins
    enabled: yes
    state: started

- name: upgrade jenkins
  get_url:
    url: https://updates.jenkins-ci.org/download/war/2.14/jenkins.war
    dest: /usr/local/share/jenkins/jenkins.war
    owner: root
    group: wheel
    mode: 0644
    checksum: "sha256:e438434600d067d09c6045e5940fb4298ec0fcda37b84f3f279f34b6b0b34b90"

- name: restore jenkins
  command: "/usr/local/bin/aws s3 sync s3://{{ bucket }} /usr/local/jenkins"
  file:
    path: /usr/local/jenkins
    recurse: yes
    owner: jenkins
    group: jenkins

- name: config jenkins
  command: "sysrc jenkins_args='--webroot=/usr/local/jenkins/war --httpPort=8180'"

- name: enable nginx
  service:
    name: nginx
    enabled: yes
    state: started

- name: reload nginx
  service:
    name: nginx
    enabled: yes
    state: reloaded
