---

- name: Gather EC2 facts
  ec2_facts:

- name: Install packages
  pkgng:
    name: "{{ item }}"
    state: present
  with_items:
    - py27-boto
    - py27-s3cmd
    - tex-formats
    - texlive-full

- name: Install letsencrypt.sh
  pkgng:
    name: letsencrypt.sh
    state: present

- name: Configure letsencrypt.sh
  template:
    src: "{{ item }}"
    dest: "/usr/local/etc/letsencrypt.sh/{{ item }}"
    mode: 0700
  with_items:
    - config.sh
    - domains.txt
  notify: run letsencrypt.sh

- name: Add hook for letsencrypt.sh
  template:
    src: "{{ item }}"
    dest: "/usr/local/etc/letsencrypt.sh/{{ item }}"
    mode: 0755
  with_items:
    - hook.sh
  notify: run letsencrypt.sh

- name: Add letsencrypt.sh to periodic.conf
  lineinfile:
    create: yes
    dest: /etc/periodic.conf
    line: weekly_letsencrypt_enable="YES"
    state: present

- name: Install Jenkins
  pkgng:
    name: jenkins
    state: present
  notify:
    - restore jenkins
    - upgrade jenkins
    - config jenkins
    - enable jenkins

- name: Add backup script to cron
  cron:
    job: "/usr/local/bin/aws s3 sync /usr/local/jenkins s3://{{bucket}} > /dev/null 2>&1"
    special_time: hourly
    state: present
    name: jenkins_backup

- name: Set DNS
  route53:
    command: create
    overwrite: yes
    record: jenkins.dylanscott.com.au.
    ttl: 300
    type: CNAME
    value: "{{ ansible_ec2_public_hostname }}"
    zone: dylanscott.com.au.

- name: Install Nginx
  pkgng:
    name: nginx-devel
    state: present
  notify: enable nginx

- name: Configure Nginx
  template:
    src: "{{ item }}"
    dest: "/usr/local/etc/nginx/{{ item }}"
  with_items:
    - nginx.conf
    - ssl.conf
  notify: reload nginx
